/* HTML */

body {
  overflow-x: hidden;
  float: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

p, li {
  font-family: Ubuntu, sans-serif;
  font-size: 1.3rem;
}

/* bootstrap */

.container-fluid {
  padding: 0;
}

.col-md-auto {
  padding-left: 0;
}

.left-col-main {
  padding: 0;
}

.btn-primary {
  background-color: #ff4c68;
  border-color: #ff4c68;
}

.btn-primary:hover {
  background-color: #e62e4d;
  border-color: #e62e4d;
}

.btn-outline-primary {
  border-color: #ff4c68;
  color: #ff4c68;
}

.btn-outline-primary:hover {
  background-color: #e62e4d;
  border-color: #e62e4d;
}


/* reusables */

.strip {
  padding: 3.86% 15.44%;
}

.strip-primary {
  background-color: #ff4c68;
  color: white;
}

.strip-secondary {
  background-color: #ef8172;
  color: white;
}

.strip-lg {
  padding: 7.72% 15.44%;
}

/* nav */

.navbar {
  padding: 3.86% 15.44%;
  background-color: #ff4c68;
  font-family: Montserrat, sans-serif;
}

.navbar-brand {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 2.33rem;
}

.nav-link {
  margin: auto 1.67rem;
  font-size: 1.13rem;
}

/* main */

.main-strip {
  padding-top: 1.93%;
}

.main-slogan {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  color: white;
  font-size: 2.67vmax;
  line-height: 1.5;
}

.d-btn-row {
  margin: 3rem 0;
  padding: 0;
}

.d-btn {
  padding: 1rem 1.66rem;
  margin:  1rem 1rem;
  margin-left: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 500;

}

.d-btn-left {
  margin-right: 2rem;
  margin-left: 0;
}

.tindog-mockup {
width: 50%;
position: absolute;
left: 33%;
transform: rotate(15deg);
}

/* bullets */

.bullet-strip {
  background-color: white;
  position: relative;
}

.bullet {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fas-bullet {
  display: block;
  color: #ef8172;
  font-size: 3rem;
  padding: 2.33rem;
}

.fas-bullet:hover {
  color: #ff4c68;
}

.bullet-h {
  font-weight: 600;
  font-size: 2rem;
}

.bullet-p {
  color: #5c5c5c;
}

/* testimonials */

.carousel {
  background-color: #ef8172;
}

.carousel-container {
  height: 724px;
  background-color: #ef8172;

}

.testimonials-strip {
  color: white;
}

.profile {
  margin-bottom: 2rem;
}

.testimonials-h {
  font-size: 2.67rem;

}

.testimonials-em {
  margin: 1.67rem auto 0 auto;
  font-size: 1rem;
  display: inline-block;

}

.bork-1 {
  width: 64px;
  overflow: hidden;
  clip-path: circle(50% at center);
  /* margin: 1.33rem; */
}



/* press */

.brand-img {
  height: 64px;
  object-fit: contain;
  filter: saturate(0%) brightness(0%) invert(100%);
}

.brand-img:hover {
  filter: none;
}

/* pricing */

.pricing-description {
  margin: auto auto 3.86% 15px;
}

.pricing-card-title {
  padding-top: 1.93%;
}

.card-list-item {
  margin: 2.33rem auto;
  font-size: 1rem;
}

.fa-check-circle {
  color: #6ade8f;
}

.fa-times-circle {
  color: #999;
}

/* CTA */

.cta-strip {
  background-color: #ff4c68;
  padding-bottom: 3.86%;
  align-items: center;
}

.cta-h {
  text-align: center;
  font-size: 2.67rem;
  color: white;
  padding-bottom: 2rem;
}

.col-cta-btn {
  padding-left: 15px;
}

.social-container {
  padding-bottom: 1rem;
}

/* footer */

.footer-strip {
  padding-top: 1.93%;
  padding-bottom: 0.3%;
  text-align: center;
}

.fa-social {
  font-size: 1.5rem;
  color: white;
}

.fa-social:hover {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.6rem;
}

.copyright-p {
  font-weight: 200;
  font-size: 1rem;
}

/* media queries */

@media (max-width: 1200px) {

  .pricing-description {
    margin-bottom: 7.76%;
  }

}

@media (max-width: 992px) {

  .testimonials-h {
    font-size: 2.67rem;
  }

  .brand-img {
    height: 48px !important;
  }

  .brands-container {
    height: 324px;
  }
}

@media (max-width: 992px) and (min-width: 768px)  {
  .tindog-mockup {
    width: 66%;
    }
}

@media (max-width: 768px) {

  .tindog-mockup {
    position: absolute;
    left: auto;
    transform: none;
    width: 50vw;
  }

  .bullet-strip {
    position: relative;
  }

  .main-slogan {
    font-size: 3rem;
    text-align: center;
  }

  .col-d-btn {
    display: flex;
    justify-content: center;
  }

  .d-btn {
    margin: auto;
  }

  .left-col-main {
    padding-top: 3.86%;
    padding-bottom: 7.72%;
  }

  .right-col-main {
    display: flex;
    justify-content: center;
    height: 33vh;
  }

  .pricing-description {
    margin-bottom: 11.59%;
  }

  .footer-strip {
    padding-top: 7.76%;
  }


  .copyright-p {
    font-size: 0.8rem;
  }

}

@media (max-width: 576px) {

  .main-slogan {
    font-size: 2rem;
  }

  .d-btn {
    margin: 1rem auto;
  }

  .testimonials-h {
    font-size: 2rem;
  }

  .brand-img {
    height: 36px !important;
  }

  .cta-h {
    font-size: 2rem;
  }
}
